<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>ABOUT PAGE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Raleway:ital,wght@0,200;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="static/css/about.css">
</head>

<body>
    <h1>ABOUT THE PROJECT</h1>
    <p>This project is basically divided into the following three aspects</p>
    <div class="container">

        <div class="row">
            <div class="about-col">
                <h3>THE IDEA<h3>
                        <img src="static/idea.png" width="120px" height="120px">
                        <p>The idea is to determine the number of occupants in a room with the help of grid eye
                            thermal
                            camera using an ESP32 camera as ground truth.</p>

            </div>
            <div class="about-col">
                <h3>THE ML<h3>
                        <img src="static/ml.png" width="120px" height="120px">

                        <p>The idea is to determine the number of occupants in a room with the help of grid eye
                            thermal
                            camera using an ESP32 camera as ground truth.</p>

            </div>
            <div class="about-col">
                <h3>DATA ANALYSIS<h3>
                        <img src="static/anal.png" width="150px" height="120px">

                        <p>We have plotted a graph that depicts the number of people present in the room at a given
                            time.The thermal camera returns 64 temperature readings for each image that it captures.
                            We
                            have calculated the average temperature and plotted a graph for it.</p>

            </div>
        </div>
    </div>


</body>

</html>