<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>CONTACT PAGE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Raleway:ital,wght@0,200;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="static/css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <br><br><br><br>
    <h1>CONTACT US</h1>

    <div class="container">
        <h1>To know more, hit us up on any of the platforms mentioned below</h1>
        <div class="social" id="socialid">
            <a target="_blank" href="https://www.instagram.com/romicar_1102/"><i class="fa-brands fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100073552962913"><i
                    class="fa-brands fa-facebook"></i></a>
            <a target="_blank" href="https://github.com/romicar"><i class="fa-brands fa-github"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/romica-raisinghani-3436a6223/"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a target="_blank" href="https://mail.google.com/mail/u/0/#inbox"><i class="fa-brands fa-google"></i></a>
        </div>
    </div>
    <script src="js/contact.js">
    </script>
</body>

</html>