<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<!-- <meta http-equiv="refresh" content="10"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Raleway:ital,wght@0,200;1,700&display=swap"
        rel="stylesheet">
	<title>particles.js</title>
	<link rel="stylesheet" href="static/css/index.css">
</head>

<body>
	<div id="particles-js">
		<nav>
            <div class="nav-links">
                <ul>
					<li><a href="./about" target="_blank">ABOUT</a></li>
                    <li><a href="./motivation" target="_blank">MOTIVATION</a></li>
                    <li><a href="./status" target="_blank">DATA</a></li>
                    <li><a href="./team" target="_blank">TEAM</a></li>
                    <li><a href="./contact" target="_blank">CONTACT</a></li>

                </ul>

            </div>
        </nav>
		<div class="heading">
			<h1>OCCUPANCY DETECTION IN CLOSED AREAS</h1>
            <h2>-By team 28</h2>
			<br>
            <br><br>
			<h3>
				This is a project, made as a part of course-work for "Embedded Systems Workshop"
			</h3>
           <!-- <a href="data.html" target="_blank"> <button class="btn">HAVE A LOOK</button></a> -->
		</div>
	</div>

	<!-- Import Particles.js and app.js files -->
	<script src=
		"static/js/particles.js">
	</script>
	<script src=
		"static/js/app.js">
	</script>
</body>

</html>
