<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>MOTIVATION PAGE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Raleway:ital,wght@0,200;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="static/css/motivation.css">
</head>

<body>
  
    <div class="wrapper">
        <h2>MOTIVATION FOR PROJECT</h2>
        <div class="container">
            <br>
            <p>Detecting the amount of people occupying an environment is an important use case for surveillance in
                public spaces such as airports, stations and squares, but also for smaller environments such as
                classrooms (e.g. to track occupation of classrooms). </p>
            <p> Using visible imaging for this task is often suboptimal because of the following reasons:
            </p><br>
            <p> 1) It potentially violates user's privacy</p><br>
            <p>
                2) To have a good final count, high resolution cameras are required </p><br>
            <p style="color: rgb(126, 185, 227); font-size: 40px;">Infrared imaging is thus a viable solution to both these issues</p>
            <br>
        </div>
    </div>
</body>

</html>