<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>TEAM PAGE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Raleway:ital,wght@0,200;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/team.css">
</head>

<body>
    <div class="context">
        <h1>OUR TEAM</h1>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="static/vai.jpeg" alt="Vaibhav" style="width:94%">
                    <div class="container">
                        <h2>Vaibhav Agrawal</h2>

                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="static/keval.jpg" alt="Keval" style="width:100%">
                    <div class="container">
                        <h2>Keval Jain</h2>

                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="static/romica.jpeg" alt="Romica" style="width:100%">
                    <div class="container">
                        <h2>Romica Raisinghani</h2>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="static/parth.jpeg" alt="Parth" style="width:75%">
                    <div class="container">
                        <h2>Parth Desai</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


</body>

</html>